:root {
  --main-color: #fafafa;
  --secon-background: #f1f1f2;
  --accent-color: #f7941e;
  --dark-color: #231f20;
  --main-color-text: #000000;
  --white-color: #ffffff;
}

/* ---------UNIVERSAL CLASSES-------- */

.container {
  max-width: 1440px;
  margin: 0 auto;

  outline: 1px solid blueviolet;
}

.

/* -------------HIDING THE TITLE--------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------BODY----------------------------------------- */

body {
  font-family: Roboto, sans-serif;
  color: var(--main-color-text);
  background-color: var(--main-color);
}

/* --------------HEADER--------------------------------------- */
.header {
  background-color: var(--main-color);
  padding-top: 36px;
  padding-bottom: 36px;
  outline: 1px dashed orange;
}

.header-wrap {
  padding-left: 80px;
}

.header-nav {
  display: flex;
  align-items: baseline;
}

.logo {
  font-family: "Homemade Apple";
  font-size: 18px;
  line-height: 2.16;
  color: #231f20;
}

.header-list {
  display: flex;
  margin-left: 433px;
  gap: 31px;
}
.header-list-item {
}
.header-link {
}

.header-button {
  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin-right: 34px;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: inherit;
}

/* -------------------HERO----------------- */

.hero {
  background-color: var(--secon-background);
}

.hero-container {
  display: flex;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  max-width: 433px;
}

.hero-titele {
  font-size: 56px;
  line-height: 1.23;
}
.hero-text {
  margin-top: 36px;
  font-size: 20px;
  line-height: 1.4;
}
.hero-btn {
  margin-top: 60px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 25px;
  padding-right: 25px;
  background: var(--accent-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

/* ---------------ABOUT US---------------- */

.about-us {
  background-color: var(--secon-background);
}

.about-us-container {
  display: flex;
}

.about-us-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}
.about-us-text {
  margin-top: 23px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}
.about-us-link {
  font-size: 18px;
  line-height: 1.34;
  display: inline-block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 47px;
  padding-right: 47px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

/* --------------	CATEGORIES---------------------- */
.categories {
  background-color: var(--white-color);
}

.categories-container {
  padding-top: 96px;
  padding-bottom: 137px;
  padding-left: 135px;
  padding-right: 135px;
}

.categories-titele {
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.categories-text {
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
  margin-top: 23px;
}
.categories-list {
  display: flex;
  gap: 30px;
  margin-top: 64px;
  justify-content: center;
}
.categories-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--main-color);
}

.categories-item:hover,
.categories-item:focus {
  background-color: var(--white-color);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.categories-item-wrap {
  height: 166px;
  padding: 24px;
}
.categories-item-header {
  font-size: 20px;
  line-height: 1.2;
}
.categories-link {
  display: inline-block;
  margin-top: 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
}
